<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header class="header">
        <a href="/" class="home">HOME</a>
        <nav>
            <ul>
                <li><a href="/users/register" class="btn-green">Register</a></li>
                <li><a href="/users/login" class="btn-green">Login</a></li>
            </ul>
        </nav>
    </header>