<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Product</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <% include partials/header-loggedin.ejs %>
    <div class="container">
        <h1>Create New Product</h1>
        <form action="/admin/products" method="POST">
            <label for="name">Product Name</label>
            <input type="text" name="name" required placeholder="Enter Product Name">

            <label for="category">Category</label>
            <input type="text" name="category" required placeholder="Enter Category">

            <label for="description">Description</label>
            <textarea name="description" rows="4" placeholder="Enter Product Description"></textarea>

            <label for="price">Price</label>
            <input type="number" name="price" step="0.01" required placeholder="Enter Price">

            <label for="quantity">Quantity</label>
            <input type="number" name="quantity" required placeholder="Enter Quantity">

            <label for="image_url">Image URL</label>
            <input type="text" name="image_url" placeholder="Enter Image URL">

            <button type="submit">Create Product</button>
        </form>
    </div>
    <% include partials/footer.ejs %>
</body>
</html>
