<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include partials/header %>
    <div class="container">
      <h1>Login Successfull</h1>
    <p>Welcome to Dashboard</p>
    </div>
    <% include partials/footer %>
  </body>
</html>